{% extends "base.html" %}
{% block content %}
    <section class="hero is-large">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Bookzen
                </h1>
                <h2 class="subtitle">
                    Tìm giá tốt nhất cho cuốn sách ưa thích của bạn
                </h2>
                <form class="control" method="POST">
                    <div class="columns is-mobile">
                        <div class="column is-8-desktop is-offset-2-desktop">
                            {{ form.csrf_token }}
                            {{ form.search(id="search", type="text", placeholder="Tên sách, tên tác giả, từ khóa v.v...", class="input is-primary is-medium") }}
                            {% for msg in form.search.errors %}
                            <span class="help is-danger">{{ msg }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-2-desktop is-offset-5-desktop has-text-centered">
                            <button class="button is-primary is-medium" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
